---
import BaseLayout from "@layouts/BaseLayout.astro";
import MainLayout from "@layouts/MainLayout.astro";
import PageHeader from "@components/PageHeader.astro";
import SubelementList from "@components/SubelementList.astro";
import subelementJson from "@data/tech-subelements.json";

const subelements = subelementJson.map((data) => ({
    subelementName: data.subelementId,
    description: data.name,
}));

const examName = "technician";
---

<BaseLayout pageTitle={`${examName} subelements`}>
    <MainLayout>
        <PageHeader>
            <span class="capitalize">{examName}</span> Subelements
        </PageHeader>
        <p class="py-4">
            The subelements on the Amateur Radio Technician license exam cover a
            range of topics essential to operating amateur radio equipment. They
            include FCC rules and regulations, operating procedures, radio wave
            propagation principles, amateur radio equipment components and
            functions, electrical principles, circuit components, and practical
            circuit applications. These subelements provide a comprehensive
            understanding of the rules, practices, and technical aspects
            necessary to obtain an Amateur Radio Technician license and engage
            in amateur radio activities effectively.
        </p>
        <SubelementList examType={examName} subelements={subelements} />
    </MainLayout>
</BaseLayout>
