---
import BaseLayout from "@layouts/BaseLayout.astro";
import MainLayout from "@layouts/MainLayout.astro";
import PageHeader from "@components/PageHeader.astro";
import SubelementList from "@components/SubelementList.astro";
import subelementJson from "@data/extra-subelements.json";

const subelements = subelementJson.map((data) => ({
  subelementName: data.subelementId,
  description: data.name,
}));

const examName = "extra";
---

<BaseLayout pageTitle={`${examName} subelements`}>
  <MainLayout>
    <PageHeader>
      <span class="capitalize">{examName}</span> Subelements
    </PageHeader>
    <p class="py-4">
      The Amateur Extra exam subelements cover advanced and in-depth knowledge
      of amateur radio, making it the highest level of licensing in the hobby.
      This exam assesses candidates' expertise in regulations, operating
      procedures, electronics theory, advanced antenna design and construction,
      propagation characteristics, RF power amplifiers, radio wave behavior,
      modulation techniques, digital signal processing, advanced circuitry,
      electromagnetic compatibility, safety practices, and more. The subelements
      explore complex topics such as advanced radio wave propagation models,
      microwave theory, advanced modulation schemes, high-frequency circuit
      design, and advanced operating techniques. By successfully completing the
      Amateur Extra exam, operators demonstrate a comprehensive understanding of
      the technical and regulatory aspects of amateur radio, allowing them to
      utilize the entire spectrum of amateur radio frequencies and engage in
      advanced experimentation, cutting-edge technology applications, and
      contributing to the advancement of the hobby as a whole.
    </p>

    <SubelementList examType={examName} subelements={subelements} />
  </MainLayout>
</BaseLayout>
