---
import subelementJson from "../../data/tech-subelements.json";

const subelements = subelementJson.map((data) => ({
    subelementName: data.subelementId,
    description: data.name,
}));
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <h1 class="text-xl">Subelements</h1>
        <ul>
            {
                subelements.map((se) => (
                    <li>
                        <a href={`subelements/${se.subelementName}`}>
                            <h2 class="text-red-500">{se.subelementName}</h2>
                        </a>
                        <p>{se.description}</p>
                    </li>
                ))
            }
        </ul>
    </body>
</html>
