---
import groupJson from "../../data/tech-groups.json";

export function getStaticPaths() {
  /*
    [
      {params: {groupName: group} }
    ]
  */
 const paths = groupJson.map(groupData => ({params: {groupName: groupData.groupId}}));
 return paths;
}

const {groupName} = Astro.params;
const desc = groupJson.find((data)=> data.groupId === groupName)?.description || "No description";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Group {groupName}</h1>
    <p>
      {desc}
    </p>
	</body>
</html>
