---
import groupJson from "../../data/tech-groups.json";
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Groups</title>
	</head>
	<body>
		<h1>Groups</h1>
    <ul>
      {groupJson.map(groupData => {
        return (
          <li>
            <a href={`groups/${groupData.groupId}`}>{groupData.groupId}</a>  
            <p>{groupData.description}</p>
          </li>
        )
      })}
      <li>

      </li>
    </ul>
	</body>
</html>
