---
import MainLayout from "@layouts/MainLayout.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import PageHeader from "@components/PageHeader.astro";
import SectionHeader from "@components/SectionHeader.astro";
import SectionLinks from "@components/SectionLinks.astro";
import onAirSign from "../images/on-air-sign-medium.jpg";
---

<BaseLayout pageTitle="This is the index">
  <MainLayout>
    <img
      class="w-full h-auto block mb-2"
      src={onAirSign}
      width={1024}
      height={768}
      alt="On Air Sign"
    />
    <PageHeader>About This Site</PageHeader>
    <p class="py-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit cumque
      optio laboriosam earum sit iusto id dolorem excepturi modi? Voluptatem.
    </p>

    <SectionHeader>Dolor sit amet consectetur.</SectionHeader>
    <p class="py-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptate aut
      modi alias velit laboriosam ab temporibus, quam vero hic, distinctio
      molestias, fugit nemo doloremque.
    </p>

    <SectionHeader>Github</SectionHeader>
    <p class="py-2">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, iure!
      Laborum delectus fugiat sunt, inventore voluptatem maiores dolorem culpa,
      nemo repellat laboriosam itaque, nam voluptatum. In ducimus nulla
      consequatur, laborum rerum repellat maxime necessitatibus at qui, quis
      quod ipsam deleniti eos consectetur praesentium nisi quisquam accusamus
      excepturi quae! Ut, laboriosam!
    </p>
  </MainLayout>
</BaseLayout>
