---
import MainLayout from "@layouts/MainLayout.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import PageHeader from "@components/PageHeader.astro";
import SectionHeader from "@components/SectionHeader.astro";
import SectionLinks from "@components/SectionLinks.astro";
---

<BaseLayout pageTitle="This is the index">
	<MainLayout>
		<PageHeader>HAM Radio License Exam Question Pool Browser</PageHeader>
		<div class="bg-indigo-200 p-4 my-4 border border-indigo-300 rounded-md">
			<p class="my-4">
				Here you can browse through all the questions in the question pools for
				each of the three different license classes.
			</p>
			<p class="my-4">
				Each exam has a pool of questions that are separated into <strong
					>subelements</strong
				>. Each subelement is then divided up into <strong>groups</strong>.
			</p>

			<SectionHeader>What Are Subelements?</SectionHeader>
			<p class="my-4">
				A subelement represents a major subject area within amateur radio, such
				as regulations, operating procedures, technical aspects, or radio wave
				propagation. Each subelement covers a distinct set of knowledge and
				skills required for operating a radio station effectively and safely.
				For example, the regulations subelement may cover topics like licensing
				requirements, frequency allocations, and station identification
				procedures.
			</p>

			<SectionHeader>What Are Groups?</SectionHeader>
			<p class="my-4">
				Within each subelement, questions are further organized into groups.
				These groups act as smaller subsets within the subelement and often
				represent specific topics or subtopics related to the broader subject
				area. For instance, within the technical subelement, there might be
				groups focused on electronics theory, antenna design, electrical safety,
				or radio equipment troubleshooting.
			</p>
		</div>

		<ul>
			<SectionHeader>Choose A License Class Below:</SectionHeader>
			<li class="my-4">
				<details>
					<summary class="font-bold text-sky-800"> Technician Exam</summary>
					<p class="my-4">
						The Technician Class license is the entry-level license in amateur
						radio. It grants operators the basic privileges necessary to
						communicate on amateur radio frequencies. Holders of this license
						have demonstrated knowledge and understanding of fundamental
						concepts such as radio regulations, basic operating procedures, and
						safety practices. Technicians have access to a wide range of VHF and
						UHF frequencies, enabling local and regional communication using
						handheld or mobile radios. This license level serves as an excellent
						starting point for newcomers to the amateur radio hobby, allowing
						them to gain practical experience while exploring various aspects of
						radio communication.
					</p>
					<SectionLinks examName="technician" />
				</details>
			</li>

			<li class="my-4">
				<details>
					<summary class="font-bold text-sky-800">General Exam</summary>
					<p class="my-4">
						The General Class license represents an intermediate level of
						proficiency in amateur radio. Operators who hold this license have a
						deeper understanding of radio theory, regulations, and operating
						practices. The General Class license expands the privileges
						available to operators, providing access to a broader range of
						frequencies, including long-distance HF bands. With increased
						privileges, General Class operators can engage in long-range
						communication, utilize more powerful equipment, and explore various
						modes of operation such as voice, digital, and Morse code. This
						license level offers greater flexibility and opportunities for
						experimentation, making it a significant step forward for amateur
						radio enthusiasts seeking enhanced capabilities.
					</p>
					<SectionLinks examName="general" />
				</details>
			</li>
			<li class="my-4">
				<details>
					<summary class="text-sky-800 font-bold">Amateur Extra Exam</summary>

					<p class="my-4">
						The Extra Class license is the highest level of amateur radio
						licensing. Holders of this license possess a comprehensive knowledge
						of radio regulations, advanced operating techniques, and in-depth
						understanding of electronics theory. Extra Class operators have
						access to all amateur radio frequencies, including exclusive
						segments, enabling them to communicate globally and utilize
						high-power transmitters. This license level reflects a commitment to
						excellence and signifies expertise in the field of amateur radio.
						Extra Class operators often engage in activities such as contesting,
						experimentation, and technical innovations, contributing to the
						advancement of the hobby as a whole.
					</p>
					<SectionLinks examName="extra" />
				</details>
			</li>
		</ul>
	</MainLayout>
</BaseLayout>
