---
import MainLayout from "@layouts/MainLayout.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import PageHeader from "@components/PageHeader.astro";
import SectionHeader from "@components/SectionHeader.astro";
import SectionLinks from "@components/SectionLinks.astro";
---

<BaseLayout pageTitle="This is the index">
  <MainLayout>
    <PageHeader>Useful Links</PageHeader>
    <p class="py-2 text-xl">
      If you are interested in getting your amateur radio license you might find
      some of these links useful.
    </p>

    <ul>
      <li class="mb-2">
        <a class="font-bold" href="https://www.youtube.com/@davecasler">
          Dave Casler's YouTube Channel
        </a>
        <p>
          This YouTube channel provides a lot of very useful videos that will
          help you study for the amateur radio exams.
        </p>
      </li>

      <li class="mb-2">
        <a
          class="font-bold"
          href="https://www.youtube.com/@HamRadioCrashCourse"
        >
          Ham Radio Crash Course
        </a>
        <p>
          Another YouTube channel that covers pretty much everything related to
          Ham radio.
        </p>
      </li>

      <li class="mb-2">
        <a class="font-bold" href="http://www.arrl.org">
          American Radio Relay League
        </a>
        <p>The homepage of the ARRL.</p>
      </li>
    </ul>
  </MainLayout>
</BaseLayout>
