<header class="border-b border-slate-300">
  <nav class="flex gap-8 items-baseline">
    <div class="p-4">
      <a href="/" class="text-3xl text-black hover:no-underline">
        Question Browser
      </a>
    </div>
    <div class="mr-2 flex gap-4">
      <a href="/">Home</a>
      <a href="/exams">Practice Exams</a>
      <a href="/links">Links</a>
    </div>
  </nav>
</header>
