---
const {
    questionId,
    questionText,
    questionChoices,
    correctAnswer,
    highlightAnswer = true,
} = Astro.props;
---

<section>
    <div>
        <p class="mb-2 text-xl">{questionText}</p>
        <ol class="list-letters ml-7">
            {
                questionChoices.map((choice, index) => (
                    <li
                        class={
                            correctAnswer === index && highlightAnswer
                                ? "text-blue-500 font-bold"
                                : ""
                        }
                    >
                        {choice}
                    </li>
                ))
            }
        </ol>
    </div>
</section>
