---
let { size } = Astro.props;

if (!size) {
    size = "normal";
}
let className = "";
switch (size) {
    case "normal":
        className = "text-xl";
        break;
    case "large":
        className = "text-3xl";
        break;
}

className = `${className} text-indigo-500`;
---

<h2 class={className}><slot /></h2>
