---
const { examName } = Astro.props;
---

<div>
    <ul>
        <li>
            <a href=`/${examName}/subelements`>Browse Subelements</a>
        </li>
        <li>
            <a href=`/${examName}/groups`>Browse Groups</a>
        </li>
        <li>
            <a href=`/${examName}/questions`>Browse All Questions</a>
        </li>
    </ul>
</div>
