---
import Button from "@components/Button.astro";
const { examName } = Astro.props;
---

<div>
  <ul class="flex gap-4">
    <li>
      <Button href={`/${examName}/subelements`}>Browse Subelements</Button>
    </li>
    <li>
      <Button href={`/${examName}/groups`}>Browse Groups</Button>
    </li>
    <li>
      <Button href={`/${examName}/questions`}>Browse All Questions</Button>
    </li>
  </ul>
</div>
