---
import SectionHeader from "./SectionHeader.astro";
const { subelements, examType } = Astro.props;
---

<ul>
    {
        subelements.map((subelement) => {
            return (
                <li class="my-4">
                    <a
                        class="block pt-2 hover:no-underline"
                        href={`/${examType}/subelements/${subelement.subelementName}`}
                    >
                        <SectionHeader>
                            Subelement {subelement.subelementName}:{" "}
                            <span class="capitalize  hover:text-blue-500">
                                {subelement.description.toLowerCase()}
                            </span>
                        </SectionHeader>
                    </a>
                </li>
            );
        })
    }
</ul>
