---
import SectionHeader from "./SectionHeader.astro";
const { subelements, examType } = Astro.props;
---

<ul>
    {
        subelements.map((subelement) => {
            return (
                <li class="border-2 p-4 my-4">
                    <SectionHeader>
                        Subelement {subelement.subelementName}:{" "}
                        <span class="capitalize">
                            {subelement.description.toLowerCase()}
                        </span>
                    </SectionHeader>

                    <a
                        class="block pt-2"
                        href={`/${examType}/subelements/${subelement.subelementName}`}
                    >
                        View Groups In Subelement
                    </a>
                </li>
            );
        })
    }
</ul>
